extends ../layout

block content
    table.table.table-striped
        tr
            td 숙소 제목
            td 도시
            td 주소
            td 요금
            td 규칙
            td 이용시설
        each host in hosts
            tr
             td= host.content
             td= host.city
             td= host.address
             td= host.charge
             td= host.rule
             td= host.facilities
             td
                a.btn.btn-info(href='/reserve/request') 예약
                //- a.btn.btn-info(href='/reserve/request') 위시리스트